.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemRow {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 15px;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.itemTitle {
  font-weight: bold;
}

.toDoListButton {
    color: white;
    border: none;
    padding: 5px 10px;
}

.checkItem {
  background-color: green;
  composes: toDoListButton;
}

.removeItem {
  background-color: red;
  margin-left: 10px;
  composes: toDoListButton;
}

.addItemForm {
  margin-top: 40px;
}

.addItemInput {
  width: 400px;
  margin-right: 20px;
}
